/* fonts  */
:root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: 'Raleway', sans-serif;
    --nav-font: 'Poppins', sans-serif;
}

/* colors */
:root {
    --bg-color: #ffffff;
    --default-color: #272829;
    --heading-color: #050d18;
    --accent-color: #149ddd;
    --accent-color-hover: #0f7bcf;
    --nav-color: #a8a9b4;
    --bg-color-mobile: #040b14;
}

html {
    scroll-behavior: smooth;
}
